<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">

    <form action="/members/new" method="post">
        <div class="form-group">
            <label for="id">아이디</label>
            <input type="text" id="id" placeholder="아이디를 입력하세요">

            <label for="pw">비번</label>
            <input type="text" id="pw" placeholder="비번을 입력하세여">

            <label for="name">이름</label>
            <input type="text" id="name" placeholder="이름을 입력하세여">

            <label for="email">이메일</label>
            <input type="text" id="email" placeholder="이멜을 입력하세여">
        </div>
        <button type="submit">등록</button>

    </form>



</div>

</body>
</html>